---
import i18next, { t } from "i18next";
import { Img } from "astro-imagetools/components";
---

<footer class="block">
  <div></div>
  <div class="bg-333 py-[20px]">
    <div class="container mx-auto flex flex-row">
      <div></div>
      <div></div>
      <div></div>
      <div>
        <Img src="/images/footer/CNZZ.gif" alt="CNZZ" />
      </div>
    </div>
  </div>
</footer>
