---
import { Picture } from "astro-imagetools/components";
import i18next, { t } from "i18next";
import { Img } from "astro-imagetools/components";
import { utilGetCurrentLanguage } from "@helpers/commonUtils";
import navigationJson from "@data/navigation.json";
import aboutRefs from "@data/about-categories.json";
import productRefs from "@data/products-categories.json";
import newsRefs from "@data/news-categories.json";
import customerCenterRefs from "@data/customer-center-categories.json";
const { links } = navigationJson;
const { pathname } = Astro.url;
const currentLanguage = utilGetCurrentLanguage(pathname);

type FooterLink = {
  name: string;
  link: string;
  type: string;
  children: FooterSubLink[];
  imageRef: string;
};
type FooterSubLink = {
  name: string;
  link: string;
};
type SubCategory = {
  name: string;
  link: string;
  showNavBar: boolean;
  showFooter: boolean;
  imageRef: string;
};
var aboutLinkItems: SubCategory[] = aboutRefs.refs.map((el: string) => {
  let a: SubCategory = {
    name: "about-categories:contents." + el + ".name",
    link: "about-categories:contents." + el + ".slug",
    showNavBar: t(
      "about-categories:contents." + el + ".showNavBar"
    ) as unknown as boolean,
    showFooter: t(
      "about-categories:contents." + el + ".showFooter"
    ) as unknown as boolean,
    imageRef: "about-categories:contents." + el + ".imageRef",
  };
  return a;
});
var productLinkItems: SubCategory[] = productRefs.refs.map((el: string) => {
  let a: SubCategory = {
    name: "products-categories:contents." + el + ".name",
    link: "products-categories:contents." + el + ".slug",
    showNavBar: t(
      "products-categories:contents." + el + ".showNavBar"
    ) as unknown as boolean,
    showFooter: t(
      "products-categories:contents." + el + ".showFooter"
    ) as unknown as boolean,
    imageRef: "products-categories:contents." + el + ".imageRef",
  };
  return a;
});
var newsLinkItems: SubCategory[] = newsRefs.refs.map((el: string) => {
  let a: SubCategory = {
    name: "news-categories:contents." + el + ".name",
    link: "news-categories:contents." + el + ".slug",
    showNavBar: t(
      "news-categories:contents." + el + ".showNavBar"
    ) as unknown as boolean,
    showFooter: t(
      "news-categories:contents." + el + ".showFooter"
    ) as unknown as boolean,
    imageRef: "news-categories:contents." + el + ".imageRef",
  };
  return a;
});
var categoryToSubCategory: {
  categories: string[];
  refs: { refs: string[] }[];
  subCategories: SubCategory[][];
} = {
  categories: ["about", "products", "news", "customer-center"],
  refs: [aboutRefs, productRefs, newsRefs, customerCenterRefs],
  subCategories: [],
};
categoryToSubCategory.categories.map((category, index) => {
  categoryToSubCategory.subCategories.push(
    categoryToSubCategory.refs[index].refs.map((el: string) => {
      let a: SubCategory = {
        name: category + "-categories:contents." + el + ".name",
        link: category + "-categories:contents." + el + ".slug",
        showNavBar: t(
          category + "-categories:contents." + el + ".showNavBar"
        ) as unknown as boolean,
        showFooter: t(
          category + "-categories:contents." + el + ".showFooter"
        ) as unknown as boolean,
        imageRef: category + "-categories:contents." + el + ".imageRef",
      };
      if (category === "customer-center") {
        console.log(a);
      }
      return a;
    })
  );
});
var prefix: string = t("footer:lower.prefix");
var FooterProcessedLinks: FooterLink[] = [];

links.map((link: any) => {
  if (link.showFooter) {
    var footerProcessedLink: FooterLink = {
      name: "",
      link: "",
      type: "",
      children: [],
      imageRef: "",
    };

    footerProcessedLink.name = link.name;
    footerProcessedLink.link = currentLanguage + link.link + "/";
    footerProcessedLink.type = link.type;
    footerProcessedLink.imageRef = link.imageRef;
    if (categoryToSubCategory.categories.includes(link.name)) {
      [
        ...categoryToSubCategory.subCategories[
          categoryToSubCategory.categories.indexOf(link.name)
        ],
      ].map((child: { name: string; link: string; showFooter: boolean }) => {
        if (child.showFooter) {
          var processedSublink: FooterSubLink = {
            name: "",
            link: "",
          };
          processedSublink.name = t(child.name);
          processedSublink.link = link.name + "/" + t(child.link) + "/";
          footerProcessedLink.children.push(processedSublink);
        }
      });
    } else {
      link.children.map(
        (child: { name: string; link: string; showFooter: boolean }) => {
          if (child.showFooter) {
            var footerSubLink: FooterSubLink = {
              name: "",
              link: "",
            };

            footerSubLink.name = t(
              "navigation:navbar." +
                link.name +
                ".sublinks." +
                child.name +
                ".name"
            );
            footerSubLink.link = currentLanguage + child.link + "/";

            footerProcessedLink.children.push(footerSubLink);
          }
        }
      );
    }

    FooterProcessedLinks.push(footerProcessedLink);
  }
});
---

<footer class="block bg-[#e9e9e9]">
  <div
    class="block flex-row w-10/12 mx-auto py-[40px] space-y-8 lg:flex lg:space-y-0"
  >
    {
      FooterProcessedLinks.map((footerLink: FooterLink) => {
        return (
          <div class="w-full px-[15px] lg:w-2/12">
            <h4 class="text-[18px] pt-[10px] lg:pb-[30px]">
              {t("navigation:navbar." + footerLink.name + ".name")}
            </h4>

            {footerLink.type === "navigationSet" ? (
              <ul>
                {footerLink.children.map((child: FooterSubLink) => {
                  return (
                    <li class="border-b-[1px] border-b-[#ccc] border-solid">
                      <a href={child.link} class="text-[12px] text-[#555]">
                        {child.name}
                      </a>
                    </li>
                  );
                })}
              </ul>
            ) : (
              <div>
                <Picture
                  src={footerLink.imageRef}
                  alt={t("navigation:navbar." + footerLink.name + ".alt")}
                />
                <p>{t("navigation:navbar." + footerLink.name + ".subText")}</p>
              </div>
            )}
          </div>
        );
      })
    }
  </div>
  <div class="bg-[#333] py-[20px] text-[#ccc] text-[12px]">
    <div class="container mx-auto mb-[10px]">
      <div
        class="flex flex-col text-center mx-auto w-fit lg:space-x-[30px] lg:flex-row lg:text-left"
      >
        {
          Array.from(
            { length: parseInt(t("footer:lower.fieldCount")) },
            (_, i) => i + 1
          ).map((index) => {
            {
              if (
                t("footer:lower." + prefix + "text" + index + ".type") ===
                "literal"
              ) {
                return (
                  <div class="py-2 lg:py-0">
                    {t("footer:lower." + prefix + "text" + index + ".value")}
                  </div>
                );
              } else if (
                t("footer:lower." + prefix + "text" + index + ".type") ===
                "hyperlink"
              ) {
                return (
                  <div class="py-2 lg:py-0">
                    <span>
                      {t(
                        "footer:lower." +
                          prefix +
                          "text" +
                          index +
                          ".value.text"
                      )}
                    </span>
                    <a
                      href={t(
                        "footer:lower." +
                          prefix +
                          "text" +
                          index +
                          ".value.hyperLinkUrl"
                      )}
                      title={t(
                        "footer:lower." +
                          prefix +
                          "text" +
                          index +
                          ".value.title"
                      )}
                    >
                      {t(
                        "footer:lower." +
                          prefix +
                          "text" +
                          index +
                          ".value.hyperLinkText"
                      )}
                    </a>
                  </div>
                );
              } else {
                return (
                  <div class="py-2 lg:py-0">
                    {t(
                      "footer:lower." + prefix + "text" + index + ".value.text"
                    )}
                    <a
                      href={t(
                        "footer:lower." +
                          prefix +
                          "text" +
                          index +
                          ".value.href"
                      )}
                    >
                      {t(
                        "footer:lower." +
                          prefix +
                          "text" +
                          index +
                          ".value.contactNumber"
                      )}
                    </a>
                  </div>
                );
              }
            }
          })
        }
        <div>
          <Img src="/images/footer/CNZZ.gif" alt="CNZZ" />
        </div>
      </div>
    </div>
  </div>
</footer>
