---
import i18next, { t, changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import json from "@data/pages/home.json";
import type {
  PageMetaTag,
  OpenGraphMetaTag,
  TwitterMetaTag,
} from "@customTypes/seo/types";
import defaultJson from "@data/site-info.json";
import Carousel from "@components/theme/Carousel.astro";
import { Img } from "astro-imagetools/components";
changeLanguage("cn");

const pageMetaTag: PageMetaTag = {
    title: json?.pageTitle ?? defaultJson.pageTitle,
    description: json?.pageDescription ?? defaultJson.pageDescription,
    keywords: json?.pageKeywords ?? defaultJson.pageKeywords,
    author: json?.pageAuthor ?? defaultJson.pageAuthor,
  },
  opengraphMetaTag: OpenGraphMetaTag = {
    title: json?.ogTitle ?? json?.pageTitle ?? defaultJson.ogTitle,
    type: json?.ogType ?? defaultJson.ogType,
    image: json?.ogImage ?? json?.twitterImage ?? defaultJson.ogImage,
    description:
      json?.ogDescription ?? json?.pageDescription ?? defaultJson.ogDescription,
  },
  twitterMetaTag: TwitterMetaTag = {
    cardType: json?.twitterCardType ?? defaultJson.twitterCardType,
    title: json?.twitterTitle ?? json?.ogType ?? defaultJson.twitterTitle,
    description:
      json?.twitterDescription ??
      json?.ogDescription ??
      defaultJson.pageDescription,
    image: json?.twitterImage ?? defaultJson.twitterImage,
  };
---

<Layout
  page={pageMetaTag}
  openGraph={opengraphMetaTag}
  twitter={twitterMetaTag}
>
  <main class="flex-grow relative">
    <Carousel>
      <div class="relative h-0 pb-[26.07%]">
        {
          Array.from(
            { length: parseInt(t("home:carousel.count")) },
            (_, i) => i + 1
          ).map((index) => {
            return (
              <div class="image-element absolute top-0 opacity-0 transition-all duration-300 w-full flex justify-center">
                <Img
                  src={t(
                    "home:carousel." + i18next.language + ".image" + index
                  )}
                  alt={"image" + index}
                  objectFit="fullWidth"
                />
              </div>
            );
          })
        }
      </div>
    </Carousel>
  </main>
</Layout>
