---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import json from "@data/pages/home.json";
import type {
  PageMetaTag,
  OpenGraphMetaTag,
  TwitterMetaTag,
} from "@customTypes/seo/types";
import siteInfoJson from "@data/site-info.json";

const pageMetaTag: PageMetaTag = {
    title: json.pageTitle,
    description: json.pageDescription,
    keywords: json.pageKeywords,
    author: json.pageAuthor,
  },
  opengraphMetaTag: OpenGraphMetaTag = {
    title: json.ogTitle,
    type: json.ogType,
    image: json.ogImage,
    description: json.ogDescription,
  },
  twitterMetaTag: TwitterMetaTag = {
    cardType: json.twitterCardType ?? siteInfoJson.twitterCardType,
    title: json.twitterTitle ?? json.ogType ?? siteInfoJson.twitterTitle,
    description:
      json.twitterDescription ??
      json.ogDescription ??
      siteInfoJson.pageDescription,
    image: json.twitterImage,
  };
changeLanguage("cn");
---

<Layout
  page={pageMetaTag}
  openGraph={opengraphMetaTag}
  twitter={twitterMetaTag}
>
  <main></main>
</Layout>
