---
import { Img } from "astro-imagetools/components";
import i18next, { t, changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import type { PageMetaTag, OpenGraphMetaTag, TwitterMetaTag, } from "@customTypes/seo/types";
import newsRef from "@data/news-categories.json";

changeLanguage("cn");

var metaTagRef = "page-news:metaTag";
const pageMetaTag: PageMetaTag = {
    title: t(metaTagRef + ".pageTitle") ?? t("site-info.pageTitle"),
    description: t(metaTagRef + ".pageDescription") ?? t("site-info.pageTitle"),
    keywords: t(metaTagRef + ".pageKeywords") ?? t("site-info:pageKeywords"),
    author: t(metaTagRef + ".pageAuthor") ?? t("site-info:pageAuthor"),
}, opengraphMetaTag: OpenGraphMetaTag = {
    title: t(metaTagRef + ".ogTitle") ??
        t(metaTagRef + ".pageTitle") ??
        t(metaTagRef + ".twitterTitle") ??
        t("site-info:ogTitle"),
    type: t(metaTagRef + ".ogType") ?? t("site-info:ogType"),
    image: t(metaTagRef + ".ogImage") ??
        t(metaTagRef + ".twitterImage") ??
        t("site-info:ogImage"),
    description: t(metaTagRef + ".ogDescription") ??
        t(metaTagRef + ".twitterDescription") ??
        t(metaTagRef + ".pageDescription") ??
        t("site-info:ogDescription"),
}, twitterMetaTag: TwitterMetaTag = {
    cardType: t(metaTagRef + ".twitterCardType") ?? t("site-info:twitterCardType"),
    title: t(metaTagRef + ".twitterTitle") ??
        t(metaTagRef + ".ogTitle") ??
        t("site-info:twitterTitle"),
    description: t(metaTagRef + ".description") ??
        t(metaTagRef + ".ogDescription") ??
        t("site-info:pageDescription"),
    image: t(metaTagRef + ".twitterImage") ??
        t(metaTagRef + ".ogImage") ??
        t("site-info:twitterImage"),
};
---

<Layout
  page={pageMetaTag}
  opengraph={opengraphMetaTag}
  twitter={twitterMetaTag}
>
  <main>
    {
      newsRef.refs.map((ref: string) => {
        return (
          <>
            <figure class="flex flex-row">
              <div class="w-[150px] h-[150px]">
                <Img
                  src={t("news-categories:contents." + ref + ".imageRef")}
                  alt={t("news-categories:contents." + ref + ".alt")}
                />
              </div>
              <figcaption />
            </figure>
          </>
        );
      })
    }
  </main>
</Layout>
