---
import { t } from "i18next";
---

<a
  href="javascript:history.back(-1);"
  class="border-[1px] border-solid border-[#434343] bg-[#f5f5f5] text-base text-center rounded-[0.5rem] leading-[1.5] transition duration-300 mt-16 group hover:bg-[#009ce0] hover:border-[#009ce0] hover:text-[#fff]"
>
  <div class="text-[#434343] px-[1.5rem] py-[0.25rem] flex flex-row">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 48 48"
      ><mask id="ipSBack0"
        ><path
          fill="#fff"
          fill-rule="evenodd"
          stroke="#fff"
          stroke-linejoin="round"
          stroke-width="4"
          d="M44 40.836c-4.893-5.973-9.238-9.362-13.036-10.168c-3.797-.805-7.412-.927-10.846-.365V41L4 23.545L20.118 7v10.167c6.349.05 11.746 2.328 16.192 6.833c4.445 4.505 7.009 10.117 7.69 16.836Z"
          clip-rule="evenodd"></path></mask
      ><path
        fill="#434343"
        d="M0 0h48v48H0z"
        mask="url(#ipSBack0)"
        class="group-hover:fill-[#fff]"></path></svg
    >
    <span class="group-hover:text-[#fff]">
      &nbsp;{t("navigation:common.back")}
    </span>
  </div>
</a>
