---
import { utilBreadcrumbsFromUrl, utilNormalizeUrl } from "@helpers/commonUtils";
import productsJson from "@data/pages/products.json";
import { t } from "i18next";

type Props = {
  label: string | null;
};

const { label } = Astro.props;

// Create breadcrumbs
const url = utilNormalizeUrl(Astro.url.pathname);
const breadcrumbs = utilBreadcrumbsFromUrl(url);

// Remove the product from the breadcrumbs
const product = productsJson.list.find((product) => url.includes(product.slug));
if (product) {
  const breadcrumbIndex = breadcrumbs.findIndex((breadcrumb) =>
    breadcrumb.href.includes(product.slug)
  );
  breadcrumbs.splice(breadcrumbIndex, 1);
}

// Translate the breadcrumbs
breadcrumbs.forEach((breadcrumb) => {
  breadcrumb.name = t(`links:${breadcrumb.name}`);
  return breadcrumb;
});
---

<div
  class="border-b-[1px] border-dashed border-b-[#ccc] flex justify-between w-full p-4"
>
  <h3 class="block text-[1.5rem] text-[#434343]">{label}</h3>
  <!--Breadcrums supposed to be here-->
  <div class="hidden flex-row space-x-2 md:flex">
    <div>{t("common:location")}:</div>
    {
      breadcrumbs.map((breadcrumb, index) => {
        return (
          <div class="space-x-2">
            <a
              class={`text-[0.875rem] ${
                index === breadcrumbs.length - 1
                  ? "text-[#009CE0]"
                  : "hover:text-red-primary"
              }`}
              href={breadcrumb.href}
            >
              {breadcrumb.name}
            </a>
            {index !== breadcrumbs.length - 1 && <span>&gt;</span>}
          </div>
        );
      })
    }
  </div>
</div>
