---
import { utilCurrentPage } from "@helpers/commonUtils";
type Subnav = { label: string; href: string; slug: string };
type Props = {
  subnavs: Subnav[];
};
const { subnavs } = Astro.props as Props;
---

<div
  class="bg-[url('/images/inner-subnav/e2.jpg')] border-[1px] border-[#009ce0] border-solid sticky top-0"
  style=""
>
  <ul class="p-2 bg-white ml-4 flex flex-row space-x-2">
    {
      subnavs.map((subnav: Subnav) => {
        return (
          <li>
            <a
              class={`px-6 py-3 text-[#777] rounded-[4px] text-xs block font-semibold  
              hover:bg-[#009ce0] hover:text-white
              
              ${
                utilCurrentPage(Astro.url.toString(), subnav.slug)
                  ? " bg-[#009ce0] text-white"
                  : " bg-white"
              }`}
              href={subnav.href}
            >
              {subnav.label}
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
