---
import navigationJson from "@data/navigation.json";
import { utilNormalizeUrl } from "@helpers/commonUtils";
import { t } from "i18next";

type Props = {
  name: string;
};
const { name } = Astro.props as Props;

const url = utilNormalizeUrl(Astro.url.pathname);
const pathname = url.split("/");
if (pathname.length > 2) {
  pathname.pop();
  pathname.pop();
}

const subLinks =
  navigationJson.links.find((link) => link.name === name)?.children ?? [];
const subNavs = subLinks.map((link) => {
  return {
    label: t(`links:${link}`),
    href: `${pathname.join("/")}/${link}`,
  };
});
---

<div class="mt-[1.125rem]"></div>
<div class="mb-[1.125rem] sticky top-0 z-[2]">
  <div
    class="bg-[url('/images/inner-subnav/e2.jpg')] border-[1px] border-[#009ce0] border-solid"
    style=""
  >
    <ul class="p-2 bg-white ml-4 flex flex-row flex-wrap">
      {
        subNavs.map((subNav) => {
          return (
            <li class="p-1">
              <a
                class={`px-4 py-2 text-[#777] rounded-[4px] text-[0.875rem] ${
                  url.includes(subNav.href)
                    ? "bg-[#009ce0] text-white"
                    : "bg-white"
                } block font-semibold hover:bg-[#009ce0] hover:text-white`}
                href={subNav.href}
              >
                {subNav.label}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>
