---
import { SEO } from "astro-seo";
import type { MetaTag } from "@customTypes/seo/types";
//REQUIRED

const { page, openGraph, twitter } = Astro.props as MetaTag;
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- Site Information -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SEO
      title={page.title}
      description={page.description}
      openGraph={{
        basic: {
          title: openGraph.title,
          type: openGraph.type,
          image: openGraph.image,
        },
        optional: {
          siteName: openGraph.title,
          description: openGraph.description,
        },
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          { name: "author", content: page.author },
          { name: "keywords", content: page.keywords },
          { name: "twitter:card", content: twitter.cardType },
          { name: "twitter:description", content: twitter.description },
          { name: "twitter:image", content: twitter.image },
        ],
      }}
    />
  </head>
  <body class="flex flex-col h-full">
    <slot />
  </body>
</html>
