---
import i18next from "i18next";
import { SEO } from "astro-seo";
import type { MetaTag } from "@customTypes/seo/types";
import { t } from "i18next";
import { ImageSupportDetection } from "astro-imagetools/components";

type Props = MetaTag;

const { page, openGraph, twitter } = Astro.props as Props;

// Fallbacks
page.title = page.title ?? t("site-info:pageTitle") ?? "Missing Translation";
page.description =
  page.description ?? t("site-info:pageDescription") ?? "Missing Translation";
page.author = page.author ?? t("site-info:author") ?? "Missing Translation";
page.keywords =
  page.keywords ?? t("site-info:keywords") ?? "Missing Translation";

// Open Graph
openGraph.title =
  openGraph.title ??
  twitter.title ??
  page.title ??
  t("site-info:ogTitle") ??
  "Missing Translation";
openGraph.type =
  openGraph.type ?? t("site-info:ogType") ?? "Missing Translation";
openGraph.image =
  openGraph.image ??
  twitter.image ??
  t("site-info:ogImage") ??
  "Missing Translation";
openGraph.description =
  openGraph.description ??
  twitter.description ??
  page.description ??
  t("site-info:ogDescription") ??
  "Missing Translation";
// Twitter
twitter.cardType =
  twitter.cardType ?? t("site-info:twitterCardType") ?? "Missing Translation";
twitter.description =
  twitter.description ??
  openGraph.description ??
  page.description ??
  t("site-info:twitterDescription") ??
  "Missing Translation";
twitter.image =
  twitter.image ??
  openGraph.image ??
  t("site-info:twitterImage") ??
  "Missing Translation";
twitter.title =
  twitter.title ??
  openGraph.title ??
  page.title ??
  t("site-info:twitterTitle") ??
  "Missing Translation";
---

<html lang={i18next.language}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <!-- Site Information -->
    <SEO
      title={page.title}
      description={page.description}
      openGraph={{
        basic: {
          title: openGraph.title,
          type: openGraph.type,
          image: openGraph.image,
        },
        optional: {
          siteName: openGraph.title,
          description: openGraph.description,
        },
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          { name: "author", content: page.author },
          { name: "keywords", content: page.keywords },
          { name: "twitter:card", content: twitter.cardType },
          { name: "twitter:description", content: twitter.description },
          { name: "twitter:image", content: twitter.image },
        ],
      }}
    />
    <ImageSupportDetection />
  </head>
  <body class="min-h-screen flex flex-col">
    <slot />
  </body>
</html>
